extends layout
block sidebar
	script.
		var showSection = function (section, listItem) {
			document.querySelector('.active').classList.toggle("active");
			listItem.classList.toggle("active");

			var y = document.querySelectorAll(".visible");
			for (var i = 0; i < y.length; i++) {
				y[i].classList.toggle("not-visible");
				y[i].classList.toggle("visible");
			}
			var x = document.querySelectorAll(section);
			for (var i = 0; i < x.length; i++) {
				x[i].classList.toggle("not-visible");
				x[i].classList.toggle("visible");
			}
			//element.classList.toggle("mystyle");
		}
	h4 Sections
	h4 Num. sections: #{classrooms.length}
	ul(class='sidebar-nav list-group')
		each classroom in classrooms
			if (classroom.section == classrooms[0].section)
				li(class='list-group-item active' onclick='showSection(".section' + classroom.section + '", this);') #{classroom.section}
			else
				li(class='list-group-item' onclick='showSection(".section' + classroom.section + '", this);') #{classroom.section}

block content
	div(class='row')
		div(class='col-sm-6')
			h1= 'Assignments for ' + institution.name
		div(class='col-sm-4')
			button(type='button' class='btn btn-primary' data-toggle='modal' data-target='#myModal' style='margin-top: 10px') Add Assignment
	//h1= title
	//div(class='container-fluid')
	div(class='row' style='font-weight: bold; color:white;')
		div(class='col-sm-2 border text-center')
			a(href='/home/'+ institution.id +'?week=-1') See previous week
		div(class='col-sm-2')
		div(class='col-sm-2')
		div(class='col-sm-2')
		div(class='col-sm-2 border text-center')
			a(href='/home/'+ institution.id +'?week=1') See next week
	div(class='row' style='font-weight: bold; color:white;')
		div(class='col-sm-2 bg-info border text-center')
			p Monday
			p #{weekDays.monday}
		div(class='col-sm-2 bg-info border text-center')
			p Tuesday
			p #{weekDays.tuesday}
		div(class='col-sm-2 bg-info border text-center')
			p Wednesday
			p #{weekDays.wednesday}
		div(class='col-sm-2 bg-info border text-center')
			p Thursday
			p #{weekDays.thursday}
		div(class='col-sm-2 bg-info border text-center')
			p Friday
			p #{weekDays.friday}
	div(class='row')
		div(class='col-sm-2 text-center')
			div(class='accordion' id='accordionMonday')
				each assignment in assignmentsMonday
					if (assignment.classroom_group == classrooms[0].section)
						div(class='card visible section' + assignment.classroom_group)
							div(class='card-header' id=assignment.id)
								h2(class='mb-0')
								button(class='btn btn-link' type='button' data-toggle='collapse' data-target='#collapse'+assignment.id aria-expanded='true' aria-controls='collapse#'+assignment.id)
									p #{assignment.subject} - #{assignment.duration} minutes
							div(class='collapse show' id='collapse'+assignment.id aria-labelledby=assignment.id data-parent='#accordionMonday')
								div(class='card-body')
									p #{assignment.assignment}
					else
						div(class='card not-visible section' + assignment.classroom_group)
							div(class='card-header' id=assignment.id)
								h2(class='mb-0')
								button(class='btn btn-link' type='button' data-toggle='collapse' data-target='#collapse'+assignment.id aria-expanded='true' aria-controls='collapse#'+assignment.id)
									p #{assignment.subject} - #{assignment.duration} minutes
							div(class='collapse show' id='collapse'+assignment.id aria-labelledby=assignment.id data-parent='#accordionMonday')
								div(class='card-body')
									p #{assignment.assignment}

	div(class='modal' id='myModal')
		div(class='modal-dialog')
			div(class='modal-content')
				form(method='POST' action='/assignment')
					div(class='modal-header')
						h4(class='modal-title') Give a new assignment
						button(type='button' class='close' data-dismiss='modal') &times;
					
					div(class='modal-body')
						div.form-group
							label(for='section') Section:
							input#section.form-control(type='text', placeholder='Section or Classroom' name='section' required='true' )
							label(for='subject') Subject:
							input#subject.form-control(type='text', placeholder='Subject or Course' name='subject' required='true' )
							label(for='assignment') Subject:
							input#assignment.form-control(type='text', placeholder='Title or description of the assignment' name='assignment' required='true' )
							label(for='duration') Duration in minutes:
							//input#duration.form-control(type='text', placeholder='Estimated duration' name='duration' required='true' )
							input#duration.form-control(type='number', name='duration' min=5 max240 step=5 required='true' )
							label(for='date_of_assignment') Assignment Date:
							input#date_of_assignment.form-control(type='date' name='date_of_assignment' required='true')
					
					div(class='modal-footer')
						button(type='submit' class='btn btn-primary') Save
						button(type='button' class='btn btn-danger' data-dismiss='modal') Cancel

